/* Allgemeine Stildefinitionen */
body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    min-height: 100vh;
}

main {
    background-color: black;
}
  /*
        HEADER
  */

header{
    color: orange;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

#headerBG{
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -100;
}

.headerh1 {
  z-index: 100;
  opacity: 1;
  background-color: black;
  width: 20%;
  margin: auto;
  padding: 5px;
  border: 3px dotted orange;
  border-radius: 3%;
}

h1{
    text-align: center;
    font-family: "chaloops", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Hauptinhalt */
main {
    padding: 40px;
}

section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;

    font-family: "chaloops", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  h4 {
    color: white;
  }

/* Team */

#team {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;  
}

.teamMember {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
}

#team img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
figure.teamMember {
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 330px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: center;
}
figure.teamMember * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.teamMember img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.teamMember figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}
figure.teamMember figcaption > div {
  float: left;
  height: 100%;
  overflow: hidden;
  width: 50%;
  position: relative;
}
figure.teamMember figcaption::before {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  width: 2px;
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.teamMember h3,
figure.teamMember p {
  margin: 0;
  padding: 10px;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
  transition: opacity 0.45s,-webkit-transform 0.45s,-moz-transform 0.45s,-o-transform 0.45s,transform 0.45s;
}
figure.teamMember h3 {
  font-size: 17px;
  color: white;
  text-align: right;
  display: inline-block;
  word-spacing: -0.1em;
  font-weight: 300;
  text-transform: uppercase;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(50%, 0%, 0);
  transform: translate3d(50%, 0%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.teamMember h3 span {
  font-weight: 800;
}
figure.teamMember p {
  font-size: 13px;
  display: block;
  bottom: 0;
  text-align: left;
  font-weight: 300;
  top: 0%;
  color: #000;
  background: #ffffff;
  -webkit-transform: translate3d(-50%, 0%, 0);
  transform: translate3d(-50%, 0%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.teamMember a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.teamMember:hover img {
  opacity: 0.7;
}
figure.teamMember:hover figcaption h3,
figure.teamMember:hover figcaption p {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.teamMember:hover figcaption h3 {
  opacity: 1;
}
figure.teamMember:hover figcaption p {
  opacity: 1;
}
figure.teamMember:hover figcaption::before {
  background: #ffffff;
  top: 0px;
  bottom: 0px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}







/* randomDrink */

#randomDrink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;

  }

  #randomDrink img {
    width: 250px;
    height: auto;
    border-radius: 10%;
  }

  .nameImg{
    display: flex;
  }

  .insIng{
      display: flex;
  }

  .titleAndContent{
      flex: 1;
      padding: 1%;
      background-color: black;
      border-radius: 10px;
      margin: 1%;
      color: white;
      width: 500px;
  }

  .titleAndContentCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #drinkName {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  #drinkInstructions {
    font-size: 18px;
    color: #888;
    text-align: center;
  }

  #drinkIngredients {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
    list-style-type: none;
    padding: 0;
  }
  
  #drinkIngredients li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  #drinkIngredients li:last-child {
    border-bottom: none;
  }
 
/* personalize Drink */

#persDrink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}

#persDrinkName {
  font-size: 40px;
  color: white;
  text-align: center;
}

#persDrinkImgDiv img {
  width: 250px;
  height: auto;
  border-radius: 10%;
}

#persDrinkInstructions {
  font-size: 18px;
  color: #888;
  text-align: center;
}

#persDrinkIngredients {
  font-size: 16px;
  color: #888;
  margin-bottom: 20px;
  list-style-type: none;
  padding: 0;
}

#persDrinkIngredients li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

#persDrinkIngredients li:last-child {
  border-bottom: none;
}




  
label {
  font-size: 16px;
  color: #555;
}

input[type="text"] {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: .16px;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 20%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  background-color: #f4f4f4;
  padding: 16px 16px;
  margin-top: 10px;
  color: #161616;
  transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);  
  :focus{
      outline: 2px solid #0f62fe;
      outline-offset: -2px;
  }

}

.errortext {
    color: orange;
    font-size: 12px;
    margin-top: 5px;
}

.button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 15px;
  margin-top: 0px;
}
  
.button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

  /*
        LEFTOVER
  */


  /*  info icon */
#info-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: orange;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 3%;
}

#info-ingredients {
  font-size: 13px;
  background-color: lightgrey;
  padding: 8px;
  margin-left: 25%;
  color: #333;
  border-radius: 5px;
  width: 60%;
  position: absolute; 
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#leftoverdrink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}

  
  #cocktailTable {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

  }
  
  .drink {
    width: calc(27% - 10px);
    margin: 10px;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .drink img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10%;
  }
  
  .drink a {
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
  
  .drink a:hover {
    text-decoration: underline;
  }
  
  .drink div {
    margin-top: 10px;
  }
  
  .drink p {
    color: white;
  }



  .drink ul {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
    list-style-type: none;
    padding: 0;
  }
  
  .drink ul li {
    color: #888;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .drink ul li:last-child {
    border-bottom: none;
  }

/* Footer */
footer {
    background-color: rgb(226, 158, 31);
    color: #fff;
    text-align: center;
    padding: 20px;
}

/*________________________________mobile query______________________________*/
@media (max-width: 600px) {

  .headerh1 {
    z-index: 100;
    opacity: 1;
    background-color: black;
    width: auto;
    margin: auto;
    padding: 5px;
    border: 3px dotted orange;
    border-radius: 3%;
  }

  

/*________________________________random drink______________________________*/
  #randomDrink {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
  }

  #randomDrink img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #titleAndContent {
    width: 50%;
  }

  #drinkName {
    font-size: 140%;
  }

  #drinkInstructions {
    font-size: 100%;
    padding: 0 10px;
  }

  #drinkIngredients {
    font-size: 90%;
    padding: 0 10px;
  }

/*_____________________________personal drink____________________________*/

  #persDrink {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #persDrink input {
    width: 50%;
  }

  #personalArea {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #persDrinkName {
    font-size: 140%;
  }

  #persDrinkImgDiv img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #persDrinkInstructions {
    font-size: 100%;
    padding: 0 10px;
  }

  #persDrinkIngredients {
    font-size: 90%;
    padding: 0 10px;
  }

/*_____________________________leftover____________________________*/

  #leftoverdrink {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    width: 100%;
  }

  #leftoverdrink input {
    width: 50%;
  }


  #cocktailTable {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  #cocktailTable div {
    width: 100%;

  }

  #cocktailTable img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/*_____________________________team____________________________*/

  #teamsection {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  #team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }

  #team img {
    width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 10%;
  }

  #teamsection h2 {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 0;
  }

  #team p {
    font-size: 70%;
  }

}

/*________________________________tablet query______________________________*/
@media (max-width: 1000px) {

  .headerh1 {
    z-index: 100;
    opacity: 1;
    background-color: black;
    width: 300px;
    margin: auto;
    padding: 5px;
    border: 3px dotted orange;
    border-radius: 3%;
  }

/*________________________________random drink______________________________*/
  #randomDrink {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
  }

  #randomDrink img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    margin: 0;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #titleAndContent {
    width: 50%;
    max-height: 300px;
  }

  #drinkName {
    font-size: 140%;
  }

  #drinkInstructions {
    font-size: 100%;
    padding: 0 10px;
  }

  #drinkIngredients {
    font-size: 90%;
    padding: 0 10px;
  }

/*_____________________________personal drink____________________________*/
  #persDrink {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #persDrink input {
    width: 50%;
  }

  #personalArea {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #persDrinkName {
    font-size: 140%;
  }

  #persDrinkImgDiv img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    margin: 0;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #persDrinkInstructions {
    font-size: 100%;
    padding: 0 10px;
  }

  #persDrinkIngredients {
    font-size: 90%;
    padding: 0 10px;
  }

/*_____________________________leftover____________________________*/
  #leftoverdrink {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    width: 100%;
  }

  #leftoverdrink input {
    width: 50%;
  }

  #cocktailTable {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
    border: rgb(205, 142, 27);
  }

  #cocktailTable div {
    width: 100%;
  }

  #cocktailTable img {
    width: 50%;
    border-radius: 10%;
  }

/*_____________________________team____________________________*/
  #teamsection {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  #team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }

  #team img {
    width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 10%;
  }

  #teamsection h2 {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 0;
  }

  #team p {
    font-size: 50%;
  }

}

/*________________________________uwide query______________________________*/
@media (min-aspect-ratio: 2/1) {
  
  .headerh1 {
    width: 500px;
  }

/*________________________________random drink______________________________*/
  #randomDrink {
    padding: 10px;
    margin: 0 auto 40px;
    width: 60%;
    display: block;
  }

  #randomDrink img {
    width: 60%;
    height: auto;
    max-height: 500px;
    border-radius: 10%;
  }


  #drinkName {
    font-size: 250%;
  }

  #randomDrink h3{
    font-size: 200%;
  }

  #drinkInstructions {
    font-size: 200%;
    padding: 0 10px;
  }

  #drinkIngredients {
    font-size: 190%;
    padding: 0 10px;
  }

/*_____________________________personal drink____________________________*/

  #persDrink {
    padding: 10px;
    margin: 0 auto 40px;
    width: 60%;
    display: block;
  }

  #persDrink input {
    width: 20%;
  }

  #personalArea {
    padding: 0;
    margin: 0 auto 40px;
    width: 100%;
    display: block;
  }

  #personalArea h3 {
    font-size: 200%;
  }

  #persDrinkName {
    font-size: 250%;
  }

  #persDrinkImgDiv img {
    width: 60%;
    height: auto;
    max-height: 500px;
    border-radius: 10%;
  }

  #persDrinkInstructions {
    font-size: 200%;
    padding: 0 10px;
  }

  #persDrinkIngredients {
    font-size: 190%;
    padding: 0 10px;
  }

/*_____________________________leftover____________________________*/

  #leftoverdrink {
    padding: 10px;
    margin: 0 auto 40px;
    width: 60%;
    display: block;
  }

  #leftoverdrink input {
    width: 20%;
  }

  .drink {
    width: 20%;
    text-align: center;
  }

  .drink div {
    width: 100%;
  }

  #cocktailTable {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }


  #cocktailTable img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #cocktailTable div li {
    width: 100%;
  }



/*_____________________________team____________________________*/

  #teamsection {
    padding: 10px;
    margin: 0 auto 40px;
    width: 60%;
    height: auto;
    display: block;
  }
  
  #team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #team img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  

  #teamsection h2 {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 0;
  }

  #team p {
    font-size: 80%;
  }

}

